con<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
<p>Bonjour,</p>
<p>&nbsp;</p>
<p>Votre tableau "Je participe !" est prêt. Nous vous souhaitons une excellente réussite pour cet évènément et que cet outil pourra vous aider dans son organisation.</p>
<p><a href="{{.URL}}">Cliquer ici pour rejoindre votre espace</a></p>
<p>&nbsp;</p>
<p>Voici vos identifiants de connexion :</p>
<p>&nbsp;</p>
<p>Login : {{.Login}}</p>
<p>&nbsp;</p>
<p>Mot de passe : {{.Pass}}</p>
<p>&nbsp;</p>
<p>Toute l'équipe <a href="http://www.circuleo.fr">Circuleo.fr</a>
</body>

</html>