<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

</head>

<body>
<p>Bonjour,</p>
<p>&nbsp;</p>
<p>Vous avez fait une demande de création d'un nouvel événement sur notre site. Afin de pouvoir activer celui-ci, merci de nous confirmer que votre adresse email est correcte en cliquant sur le lien ci-dessous :</p>
<p><a href="{{.URL}}">Cliquer ici pour confirmer votre adresse email</a></p>
<p>&nbsp;</p>
<p>Si ce n'est pas vous qui avez fait la demande, vous pouvez ignorer cet email.</p>
<p>&nbsp;</p>
<p>Nous vous souhaitons une bonne journée.</p>
<p>&nbsp;</p>
<p>Toute l'équipe <a href="http://www.circuleo.fr">Circuleo.fr</a>
</body>

</html>